:root {
  --primary-color: #7f9183;
  --text-color: #586f6b;
  --secondary-color: #a3a395;
  --accent-color: #e0ae91;
  --background-color: #ddd5d0;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Inter Tight", sans-serif;
}

.text-heading {
  font-family: "Inter", sans-serif;
}
